@font-face {
  font-family: 'Inter';
  src: url('/Inter-VariableFont_slnt,wght.ttf');
}

:root {
  --black: #101820;
  --gray: #8a95a2;
  --background: #364352;
  --background_light: #3d4b5c;
  --accent: #f36c53;
  --accent_dark: #cc5945;
  --white: white;
  --padding: 30px;
  --padding_sm: 15px;
  --fast: 0.25s;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body {
  background-color: var(--background);
  color: white;
  font-family: 'Inter', 'Helvetica', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 200;
  font-variation-settings: "wght" 200;
}

a {
  color: var(--accent);
  transition: color var(--fast);
}

a:hover {
  color: var(--white);
}

strong {
  font-weight: 500;
  font-variation-settings: "wght" 500;
}

main {
  padding: 1px var(--padding) 160px;
}

h1, h2 {
  color: var(--accent);
  font-weight: 100;
  font-variation-settings: "wght" 100;
}

h1 {
  color: var(--white);
}

.wrapper {
  max-width: 500px;
  margin: auto;
}

.wraper {
  max-width: 600px;
  margin: auto;
}

input {
  font-family: 'Inter', 'Helvetica', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
}

input[type=text]::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--gray);
  opacity: 1; /* Firefox */
}

input[type=text]:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--gray);
}

input[type=text]::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--gray);
}

button, .button {
  display: inline-block;
  border: 0;
  padding: var(--padding_sm);
  background-color: var(--accent);
  color: var(--white);
  cursor: pointer;
  text-decoration: none;
  position: relative;
}

button.active::after, .button.active::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  color: var(--black);
}
