:root {
  --black: #222e3b;
  --background: #364352;
  --accent: #f36c53;
  --accent_dark: #cc5945;
  --white: white;
  --padding: 30px;
  --padding_sm: 15px;
  --fast: 0.25s;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body {
  background-color: var(--background);
  color: white;
  font-family: 'Helvetica', Tahoma, Geneva, Verdana, sans-serif;
}

main {
  padding: 1px var(--padding) 160px;
}

.wrapper {
  max-width: 500px;
  margin: auto;
}

.wraper {
  max-width: 600px;
  margin: auto;
}

button {
  border: 0;
  background-color: var(--accent);
  color: var(--white);
  cursor: pointer;
}

button.active {
  background-color: var(--white);
  color: var(--black);
}
